---
---

@import "{{ site.theme }}";

header img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
  object-position: 80% center;

  transform: scale(1.35);
  transform-origin: center;
  clip-path: circle(50%);
}
