---
---

@import "{{ site.theme }}";

header img {
  border-radius: 50%;
  width: 185px;
  height: 185px;
  object-fit: cover;
  object-position: 30% center;
}

header .view {
  display: none;
}

footer {
  display: none;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #267CB9;
  padding: 16px 0;
  padding-left: calc((100% - 860px) / 2);
  text-align: left;
  z-index: 1000;
}

.top-nav a {
  color: #d9d9d9;
  text-decoration: none;
  margin-right: 30px;
  font-size: 16px;
  font-weight: normal;
}

.top-nav a:hover {
  color: white;
  text-decoration: none;
}

.top-nav a.active {
  color: white;
  font-weight: normal;
  text-decoration: none;
  border-bottom: none;
}

.wrapper {
  padding-top: 65px;
}
