<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | Victor Y. Hsu</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

 <nav class="top-nav">
  <a href="/">Home</a>
  <a href="/dissertation">Dissertation</a>
  <a href="/teaching">Teaching</a>
  <a href="/photography" class="active">Photography</a>
</nav>

  <main style="padding-top: 80px;">
    {{ content }}
  </main>

</body>
</html>
